# --------------------------------------
# Python Cache
__pycahe__
**/__pycahe__
**/*/__pycahe__
**/*/*.pyc
# --------------------------------------
# Model and Configuration file ( YOLO )
**/*/*.trt
**/*/*.plan
**/*/*.pth
**/*/*.onnx
**/*/*.etlt
**/*/*.tlt
**/*/*.engine
**/*/*.cfg
**/*/*.weights
# --------------------------------------
# Plugins
**/*/*.so
**/*/*.o
# --------------------------------------
# Temprate Data
**/*/*_colormap.txt
*.log
**/*/*.log
**/*/*.jpg
**/*/*.jpeg
**/*/*.png
**/*/*.avi
**/*/*.mp4
app/*
!app/classificaiton_sample
!app/humanpose_sample_ae
!app/objectdetection_sample
!app/segmentation_sample
!app/Retail_Product_objectdetection
**/*/model/
# ---------------------------------------
# Testing Script
easy_web_demo.py
template/