# --------------------------------------
# Python Cache
__pycahe__
**/__pycahe__
**/*/__pycahe__
**/*/*.pyc
# --------------------------------------
# Model and Configuration file ( YOLO )
**/*/*.trt
**/*/*.plan
**/*/*.pth
**/*/*.onnx
**/*/*.etlt
**/*/*.tlt
**/*/*.engine
**/*/*.cfg
**/*/*.weights
# --------------------------------------
# Plugins
**/*/*.so
**/*/*.o
# --------------------------------------
# Temprate Data
**/*/*_colormap.txt
*.log
**/*/*.log
**/*/*.jpg
**/*/*.jpeg
**/*/*.png
**/*/*.avi
**/*/*.mp4
temp/
# --------------------------------------
# Tasks
task/
!task/classificaiton_sample/
!task/humanpose_sample_ae/
!task/objectdetection_sample/
!task/segmentation_sample/
!task/retail_product/
# ---------------------------------------
# Testing Script
easy_web_demo.py
template/

# ---------------------------------------
!docs
!docs/images/*