# --------------------------------------
# Python Cache
__pycahe__
**/__pycahe__
**/*/__pycahe__
**/*/*.pyc
# --------------------------------------
# Model and Configuration file ( YOLO )
**/*/model
**/*/*.trt
**/*/*.plan
**/*/*.pth
**/*/*.onnx
**/*/*.etlt
**/*/*.tlt
**/*/*.engine
**/*/*.cfg
**/*/*.weights
# --------------------------------------
# Plugins
# **/*/*.so
**/*/*.o
# --------------------------------------
# Temprate Data
**/*/*_colormap.txt
*.log
**/*/*.log
temp/*
data/*
model/*
# --------------------------------------
# Sample Tasks
# ---------------------------------------
!docs
!**/.gitkeep